* {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper,
.footer-inner {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-top {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    border-bottom: 1px solid #e9e9e9;
    padding: 8px;
}

.list-item {
    color: #666666;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    flex-shrink: 0;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
}

.title-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title-name img {
    width: 28px;
    height: auto;
}

h1 {
    font-size: 1.4rem;
    color: #525252;
    display: inline-block;
    min-width: 220px;
}

.search-box {
    position: relative;
    display: inline-block;
    margin-right: 14px;
}

#searchInput {
    width: 660px;
    padding: 10px 50px 10px 16px;
    border: 2px solid #0072e2;
    border-radius: 5px;
    outline: none;
}

#searchBtn {
    position: absolute;
    right: 10px;
    top: 13px;
    border: none;
    background: none;
    cursor: pointer;
}

#searchBtn img {
    width: 20px;
    height: auto;
}

.user-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-icon img {
    width: 24px;
    height: auto;
    flex-shrink: 0;
    cursor: pointer;
}

.divider {
    width: 1px;
    height: 16px;
    background-color: #dadada;
    flex-shrink: 0;
}

.headerBo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin: 6px 10px 20px 10px;
}

.header-list-item {
    color: #353535;
    gap: 30px;
    list-style: none;
}

.header-list-item li {
    flex-shrink: 0;
    font-size: 14px
}

.header-list-item li:first-child {
    margin-left: 10px;
}

.headerBo img {
    width: 15px;
    height: auto;
    box-sizing: content-box;
    padding: 0 10px 0 20px;
    cursor: pointer;
}

.user-main {
    display: flex;
    margin-left: auto;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

.user-main-total {
    transition: color 0.2s ease, opacity 0.2s ease;
    font-size: 14px;
}

.user-main-total:hover {
    color: #0072e2;
}

.user-main-one img {
    width: 18px;
    height: auto;
    flex-shrink: 0;
}

.user-main-two img {
    width: 19px;
    height: auto;
    flex-shrink: 0;
}

.user-main-three img {
    width: 24px;
    height: auto;
    flex-shrink: 0;
}

.user-main-total img {
    position: relative;
    top: 5px
}

#bookPage {
    padding: 10px;
}

#book-page-top {
    font-size: 16px;
    padding: 10px;
}

.font-cloud {
    color: #666666;
}

.book-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.book-img-box {
    width: 450px;
    min-height: 650px;
    padding: 0 10px;
    position: relative;
}

#main-book-img {
    padding: 10px;
}

#main-book-img img {
    width: 423px;
    height: 570px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); 
}

.book-preview-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #666;
    border-radius: 15px;
    padding: 5px 30px;
    color: #666;
}

#mainPageContainer {
    display: grid;
    grid-template-columns: 13fr 4fr;
    gap: 25px;
    margin-left: 14px;
}


#aside {
    position: relative;
    min-width: 250px;
}

.aside-box {
    position: sticky;
    top: 10px;
    border-top: 4px solid #eee;
    border-bottom: 4px solid #eee;
    padding: 0 0 12px;
}

.aside-title {
    font-size: 16px;
    padding: 26px 3px 18px;
    color: #222;
}

.row {
    font-size: 13px;
    color: #222;
    padding: 14px 0;
    border-top: 1px solid #eee;
    display: grid;
    grid-template-columns: 1fr 200px;
}
.aside-font{
    color: #aaa;
}

.book-to-buy{
    color: #222;
    min-width: 400px;
}
.onto-title{
    font-size: 14px;
    color: #aaa;
}
.book-title{
    font-size: 26px;
    padding: 10px 0;
}
.book-reviews{
    font-size: 12px;
    color: #999;
}

.star{
    color: red;
}

.book-buy-container{
    display: flex;
    margin-bottom: 16px;
}
.book-buy-container button{
    font-size: 15px;
    padding: 10px;
    flex: 1;
    border-style: none;
    background: none;
}

.book-buy-container button:hover{
    cursor: pointer;
}

.book-buy-container button:nth-child(2){
    border-bottom: 2px solid #0072e2;
    color: #0072e2;
}

.book-price{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 0;
}
.book-price p{
    font-size: 25px;
    color: #222;
}
.sale-percent{
    font-size: 27px;
    color: red;
}
.book-price-sale{
    font-size: 30px;
    font-weight: bold;
}
.book-price-ori{
    font-size: 27px ;
    text-decoration: line-through;
    color: #aaa;
}

.new-user-event{
    font-size: 16px;
    margin-bottom: 20px;
}
.event-title{
    display: flex ;
    align-items: center;
    position: relative;
}

.event-title img{
    padding: 0 5px 0 0;
}
.color-orange{
    color: #fa934e;
}
.event-more{
    position: absolute;
    right: 30px;
}
.event-first{
    border: 1px solid #fa934e;
    border-radius:12px ;
    padding: 16px;
    margin-top: 16px;
}
.event-first-first-line{
    padding-bottom: 16px;
    border-bottom: 1px solid #ffcead;
    font-weight: 800;
}

.event-first-second-line{
    padding: 16px 0 8px;
    font-weight: 700;
}
.event-first-third-line{
    font-size: 13px;
    font-weight: 500;
}
.delivery-box{
    font-size: 16px;
}
.font-accent{
    font-weight: 700;
}
.delivery-box{
    display: flex;
    margin-bottom: 10px;
}
.delivery-box img{
    margin: 0 20px 0 0;
}
.delivery-box-text{
    margin-bottom: 20px;
}
.after-time-three{
    padding-bottom: 25px;
    font-size: 15px;
}
.delivery-cloud{
    padding: 0 20px 0 0;
}
.into-cart-bth{
    width: 100%;
    background: #4676ff;
    border: none;
    color: #fff;
    font-size: 14px ;
    padding: 14px 10px;
    border-radius: 6px;
}
.into-cart-bth img{
    padding: 0 8px;
}

.bookInfo-nav{
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
}
.bookInfo-nav li{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
}
.bookInfo-nav li:first-child{
    border-bottom: 2px solid #0072e2;
}
.bookInfo-about{
    margin: 25px 0;
    padding-right: 25px ;
}
.bookInfo-about h4{
    font-size: 18px;
    margin-bottom: 13px;
}
.bookInfo-about-more{
    background: none;
    border: 1px solid #0072e2;
    color: #0072e2;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    padding: 10px 10px;
}
.bookInfo-about p{
    font-size: 17px;
}
#bookWith{
    margin: 25px 0;
    padding: 25px 0;
}
.bookWith-title{
    margin-bottom: 30px;
    font-size: 18px;
}


.books-wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.book-container{
    position: relative;
}

.book-img img{
    width: 100%;
    height: auto;
}

.book-condition{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 85px;
    height: 21px;
    background: purple;
    font-size: 11px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
}



.book-info p{
    text-align: center;
}
.under-book-from{
    font-size: 12px;
    color: #666666;
}
.under-book-title{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.under-book-price{
    font-size: 16px;
    font-weight: bold;
}
.book-info{
    position: absolute;
    width: 100%;
    height: 96px;
    background: #fff;
    bottom: -25px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease ;
}

.book-container:hover .book-info{
    transform: translateY(-25px);
    background-color: rgba(255, 255, 255, 0.8);
}
.book-container:hover .book-title{
    white-space: wrap;
}

footer {
    width: 100%;
    background-color: #222222;
    margin-top: 50px;
    padding: 0 14px;
}

.footer-title {
    padding: 30px 0;
    font-size: 16px;
    display: flex;
}

.footer-title p {
    color: #fff;
    padding: 2px 10px;
    margin-right: 20px;
}

.footer-title p:first-child {
    border: 1px solid #fff;
    border-radius: 5px;
}

.footer-main {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    border-top: 2px solid #666666;
    border-bottom: 2px solid #666666;
    padding: 30px 0;
    color: #ccc;

}

.footer-main h1,
.footer-main dt {
    color: #fff;
}

.footer-main dt {
    font-weight: 700;
}

.footer-main p,
.footer-main dd {
    padding: 8px 0;
    font-size: 16px;
}

.cacao-1by1 {
    border: 1px solid #fff;
    width: fit-content;
    padding: 3px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.footer-end {
    font-size: 16px;
    margin: 40px 0 0;
    color: #6d6c6c;
}